schema_concesionario.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Elementos simples -->
<xs:element name="matricula" type="xs:string"/>
<xs:element name="nombre" type="xs:string"/>
<xs:element name="pais" type="xs:string"/>
<xs:element name="logo" type="xs:string"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="tipo" type="xs:string"/>
<xs:element name="fechaMatriculacion" type="xs:date"/>
<xs:element name="color" type="xs:string"/>


<!-- Atributos -->
<xs:attribute name="id" type="xs:string"/>

<!-- Elementos Complejos -->
<xs:element name="marca">
	 <xs:complexType>
		<xs:sequence>
			 <xs:element ref="nombre"/>
			 <xs:element ref="pais"/>
			 <xs:element ref="logo"/>
		</xs:sequence>
	 </xs:complexType>
</xs:element>

<xs:element name="modelo">
	 <xs:complexType>
		<xs:sequence>
			 <xs:element ref="nombre"/>
			 <xs:element ref="tipo"/>
			 <xs:element ref="precio"/>
		</xs:sequence>
	 </xs:complexType>
</xs:element>

<xs:element name="coche">
	 <xs:complexType>
		 <xs:sequence>
			 <xs:element ref="matricula"/>
			 <xs:element ref="marca"/>
			 <xs:element ref="modelo"/>
			 <xs:element ref="fechaMatriculacion"/>
			 <xs:element ref="color"/>
		</xs:sequence>
		 <xs:attribute ref="id"/>
	 </xs:complexType>
</xs:element>



<!-- Elementos Raiz -->
<xs:element name="concesionario">
	 <xs:complexType>
		<xs:sequence>
			 <xs:element ref="nombre" maxOccurs="unbounded"/>
		</xs:sequence>
	 </xs:complexType>
</xs:element>

</xs:schema>